<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="text-center mb-5">
                    <a routerLink="/" class="auth-logo">
                        <img src="../../../../assets/images/ach/red-tech.jpeg" alt="" height="80" class="auth-logo-dark">
                        <img src="" alt="" height="28" class="auth-logo-light">
                    </a>
                    <p class="font-size-15 text-muted mt-3">Superior <b>Technology</b> for all business processes</p>
                </div>
                <div class="card overflow-hidden">
                    <div class="row g-0">

                        <div class="col-lg-6">
                            <div class="p-lg-5 p-4">
                                <div>
                                    <h5>Reset Password</h5>
                                    <p class="text-muted">Reset your password to access the portal</p>
                                </div>
                                <div class="mt-4 pt-3">
                                    <div class="alert alert-success mb-4" role="alert">
                                        Enter your Email and instructions will be sent to you!
                                    </div>

                                    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                                        <div class="mb-3">
                                            <label class="fw-semibold" for="useremail">Email</label>
                                            <input type="email" formControlName="email" class="form-control"
                                                id="useremail" placeholder="Enter email"
                                                [ngClass]="{'is-invalid': submitted && f.email.errors }">
                                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                <div *ngIf="f.email.errors.required">Email is required</div>
                                            </div>
                                        </div>

                                        <div class="mt-4 text-end">
                                            <button class="btn btn-primary w-md waves-effect waves-light"
                                                type="submit">Reset</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-lg-5 p-4 bg-auth h-100 d-none d-lg-block">
                                <div class="bg-overlay"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
                <div class="mt-5 text-center">
                    <p>Remember It ? <a routerLink="/account/login" class="fw-semibold text-decoration-underline"> Login
                        </a>
                    </p>
                    <p>© {{year}} <b>Redtech Limited</b>. Powered By <b>Techrunch Solutions Limited</b> 
                    </p>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end account page -->