#page-topbar {
    -webkit-box-shadow: 0px 0px 5px rgb(0 0 0 / 19%);
    -ms-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.188235);
    box-shadow: 0px 0px 5px rgb(0 0 0 / 80%);
}

.navbar-brand-box {
    padding: 0 1rem 0 1rem;
}