<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="text-center mb-5">
                    <a routerLink="/" class="auth-logo">
                        <img src="../../../../assets/images/ach/red-tech.jpeg" alt="" height="80" class="auth-logo-dark">
                        <img src="" alt="" height="28" class="auth-logo-light">
                    </a>
                    <p class="font-size-15 text-muted mt-3">Superior <b>Technology</b> for all business processes</p>
                </div>
                <div class="card overflow-hidden">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="p-lg-5 p-4">
                                <div>
                                    <h5>Welcome Back !</h5>
                                    <p class="text-muted">Sign in to continue to the portal.</p>
                                </div>

                                <div class="mt-4 pt-3">
                                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                        <div class="mb-3">
                                            <label for="username" class="fw-semibold">UserName</label>
                                            <input type="text" formControlName="username" class="form-control" id="email" placeholder="Enter username"
                                                [ngClass]="{ 'is-invalid': inProgress && f.username.errors }">
                                            <div *ngIf="inProgress && f.username.errors" class="invalid-feedback">
                                                <div *ngIf="f.username.errors.required">Username is required</div>
                                                <div *ngIf="f.username.errors.username">Username must be a valid name
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3 mb-4">
                                            <label for="password" class="fw-semibold">Password</label>
                                            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Enter password"
                                                [ngClass]="{ 'is-invalid': inProgress && f.password.errors }">
                                            <div *ngIf="inProgress && f.password.errors" class="invalid-feedback">
                                                <div *ngIf="f.password.errors.required">Password is required</div>
                                            </div>
                                        </div>

                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input font-size-16" id="remember-check">
                                                    <label class="form-check-label" for="remember-check">Remember me</label>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="text-end">
                                                    <button class="btn btn-primary w-lg waves-effect waves-light" type="submit">
                                                        <div [hidden]="!inProgress" class="spinner-border text-secondary" role="status"></div>
                                                        <span [hidden]="!inProgress">Please wait...</span>
                                                        <span [hidden]="inProgress">Sign In</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-4">
                                            <a routerLink="/account/recoverpwd" class="text-muted"><i class="mdi mdi-lock me-1"></i> Forgot your password?</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="p-lg-5 p-4 bg-auth h-100 d-none d-lg-block">
                                <div class="bg-overlay"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
                <div class="mt-5 text-center">
                    <p>© {{year}} <b>Redtech Limited</b>. Powered By <b>Techrunch Solutions Limited</b> 
                    </p>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end account page -->