.card {
    border-color: #cdd4e0;
    -webkit-box-shadow: 0 0 10px rgb(28 39 60 / 6%);
    box-shadow: 0 0 10px rgb(28 39 60 / 6%);
    border-radius: 0.22rem;
}

.btn-success {
    color: #fff;
    background-color: #E71615;
    border-color: #E71615;
}