// 
// _footer.scss
// 

.footer {
    bottom: 0;
    padding: 20px calc(#{$grid-gutter-width} / 2);
    position: absolute;
    right: 0;
    color: $footer-color;
    left: $sidebar-width;
    height: $footer-height;
    background-color: $footer-bg;

    @media (max-width: 991.98px) {
        left: 0;
    }
}

// Enlarge menu
body[data-sidebar-size="sm"] {
    .footer {
        left: $sidebar-collapsed-width;

        @media (max-width: 991.98px) {
            left: 0;
        }
    }
}

body[data-layout="horizontal"] {
    .footer {
        left: 0 !important;
    }  
}

.confirmation .confirmation-dialog .footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #eff2f7;
    border-bottom-right-radius: calc(0.4rem - 1px);
    border-bottom-left-radius: calc(0.4rem - 1px);
    position: relative;
    left: 0px;
    height: 80px;
}

.confirmation .confirmation-dialog .footer .confirmation-button {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
}