<!-- start page title -->
<app-pagetitle title="Role Management" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12"> 
                        <h4 class="card-title">Roles</h4>
                        <p class="card-sub-title">
                            Click the action elipse (<i class="mdi mdi-dots-vertical"></i>) to edit or manage permissions assigned to a specific role.
                        </p> 
                    </div>
                </div>

                <hr class="text-primary1111">

                <div class="row mb-md-2">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="tickets-table_length"><label
                            class="d-inline-flex align-items-center">Show
                            <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                                [(ngModel)]="service.pageSize" class="form-control form-control-sm mx-2">
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                                <option [ngValue]="100">100</option>
                            </select> entries
                        </label>
                    </div>
                </div>
                <!-- Search -->
                <div class="col-sm-12 col-md-6">
                    <div id="tickets-table_filter" class="dataTables_filter text-md-end">
                        <label class="d-inline-flex align-items-center">Search:
                            <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                            aria-controls="tickets-table" [(ngModel)]="service.searchTerm">
                        </label>
                    </div>
                </div>
                <!-- End search -->
            </div>
            <!-- Table -->
            <div class="table-responsive">
                <table id="basic-datatable" style="padding-bottom:50px;"
                    class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
                    <thead>
                        <tr> 
                            <th sortable="name" (sort)="onSort($event)">Name</th>
                            <th sortable="isDefault" (sort)="onSort($event)">Is Default</th>
                            <th sortable="isStatic" (sort)="onSort($event)">Is Static</th>
                            <th sortable="isPublic" (sort)="onSort($event)">Is Public</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let table of tables$ | async;let i=index">
                        <tr>
                            <td>
                                <ngb-highlight [result]="table.name" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.isDefault.toString()" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.isStatic.toString()" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.isPublic.toString()" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td (mouseover)="getMouseOver(9000)" (mouseleave)="getMouseLeave(200)">
                                <div class="dropdown" ngbDropdown>
                                    <a class="text-muted dropdown-toggle font-size-18 px-2"
                                        href="javascript:void(0);" role="button"
                                        data-bs-toggle="dropdown" ngbDropdownToggle
                                        aria-haspopup="true">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end" style="z-index:100000000000000;" ngbDropdownMenu>
                                        <a class="dropdown-item" href="javascript: void(0);">Edit</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript: void(0);">Permissions</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                        
                    <!-- <tr>
                        <td>
                            <ngb-highlight></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight></ngb-highlight>
                        </td>
                    </tr> -->
                  </table>
              </div>
              <!-- End table -->
              <div class="row justify-content-md-between align-items-md-center mt-2">
                  <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                          Showing
                          {{service.startIndex}} to
                          {{service.endIndex}} of {{service.totalRecords}}
                          entries
                      </div>
                  </div>
                  <!-- Pagination -->
                  <div class="col-sm-12 col-md-5">
                      <div class="text-md-right float-md-end pagination-rounded">
                          <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page"
                              [pageSize]="service.pageSize">
                          </ngb-pagination>
                      </div>
                  </div>
                  <!-- End Pagination -->
              </div>
          </div>
      </div>
  </div>
</div>